

body {
  width: 100vw;
  height: 100vh;
  background: white;
  overflow: hidden;
  padding: 0;
  margin: 0;
  justify-content: center;
  align-items: center;
}

nav {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 300px;
  
}

ul,
li {
  list-style: none;
  padding: 0;
  margin: 0;
  
}

.se{

margin-top: 80px;

}

#R {

  margin-top: 80px;

}
.rcw-client > .rcw-message-text{
  background-color: #ff9c9c !important;

}
.rcw-launcher{
  background-color: #db2828 !important;
}

.rcw-conversation-container >.rcw-header{
  background-color: #db2828 !important;
}

.rcw-close {
  background-color:#db2828 !important;
  color:#db2828 !important;
}

.rcw-close-button {
  background-color:#db2828 !important;
  color:#db2828 !important;
}

.conversation-container > .header {
  background-color: red;
}

.message > .response {
  background-color: black;
  color: white;
}


#utube {

  
  margin-bottom: 0px;
  margin-top: 0px;
  padding-left: 0px;
  padding-right: 0px;
  height: 15%;
  width: 20%;


}

ul {
  position: relative;
  display: flex;
  width: 300px;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  text-align:center;
  margin-top: 0px;
  margin-left: 0px;
  margin-right: 0px;
  padding-left: 0px;
  padding-right: 0px;
}

.style{
  padding-left: 0px;
  width: 100%;
  padding-right: 0px;

}
.anim{
  text-align:center;
  font-size: 400px;
  justify-content: center;

}
li {
  border-radius: 10px;
  margin-bottom: 10px;
  margin-right: 10px;
  width: 10%;
  height: 10%;
  justify-content: center;
  align-items: center;
  display:inline-block;
    
}

.background {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 300px;
  background: #fff;
  
}

.refresh {
  padding: 10px;
  position: absolute;
  background: rgba(0, 0, 0, 0.4);
  border-radius: 10px;
  width: 20px;
  height: 20px;
  top: 10px;
  right: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

@media (min-height: 340px) {
  .ui.footer.form-page { /* Increased specificity for SO snippet priority */
    position: fixed;
    bottom: 0;
    width: 100%;
  }


  
@media (min-height: 340px) {
  .ui.header.form-page { /* Increased specificity for SO snippet priority */
    position: fixed;
    top: 0;
    width: 100%;
    padding-top: 0px;
    padding-bottom: 0px;
  }
}
}

